.clase-detalle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: url('../../public/fondolanding.png');

    .enlace-volver {
        all: unset;
        text-decoration: none;
        color: #007bff;
        font-size: 1.2rem;
        margin-bottom: 20px;
        transition: color 0.3s;
        margin-right: auto;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.5rem;

        &:hover {
            color: #0056b3;
        }
    }

    .boton-reservar {
        all: unset;
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: auto;

        &:hover {
            background-color: #0056b3;
            transform: scale(1.05);
            -webkit-transform: scale();
            -moz-transform: scale();
            -ms-transform: scale();
            -o-transform: scale();
        }
    }

    .titulo-carrusel {
        font-size: 1.2rem;
        margin-bottom: 20px;
        color: #333;
    }

    
}