.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #76ABAE;

    a {
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }
}