.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

.paginacion {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .pagination {
    list-style: none;
    display: flex;
    gap: 0.5rem;
    padding: 0;
    margin: 0;

    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 32px;
        height: 32px;
        padding: 0.5rem;
        border-radius: 8px;
        text-decoration: none;
        background-color: #f0f0f0;
        color: #333;
        font-weight: 500;
        transition: background 0.2s ease;

        &:hover {
          background-color: #ddd;
        }

        svg {
          pointer-events: none;
        }
      }

      &.active a {
        background-color: #76ABAE;
        color: white;
        font-weight: bold;
      }

      &.disabled a {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;
      }
    }
  }
}

